<div class= 'text-center'>
  <%= render 'pages/header' %>

<h2 class= 'text-white' style="margin-bottom: 50px">Edit <%= resource_name.to_s.humanize %></h2> <!-- アカウント編集フォーム -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username, class: 'text-white' %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email, class: 'text-white' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class='text-white'>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: 'text-white' %> <i class='text-white'>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em class= 'text-white'><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'text-white' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: 'text-white' %> <i class='text-white'>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3 class= 'text-white'>Cancel my account</h3>

<p class='text-white'>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<p class="text-white mrg-btm-s"><%= link_to "Back", :back %></p>

</div>
