<div class="container text-center text-white"> <!-- アカウントロックの解除メール再送信 -->

  <div class="row" style="margin: 30px 0 80px;">
    <div class="col-md-12">
      <h2 style="font-size: 50px;">ロック解除メールの再送信</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-black" %>
        </div>

        <div class="actions" style="margin-bottom: 35px;">
          <%= f.submit "再送信", class: "text-black", style: "font-size: 20px" %>
        </div>

      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
