<nav class="navbar navbar-default navbar-fixed-top">
  <%= link_to "top page", root_path %>
  <% if user_signed_in? %>
    <strong><%= link_to current_user.username, pages_show_path %></strong>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'サインアップ', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
  <% end %>
</nav>


<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="text-white">スレッドが表示されて、コメントを見ることができます</h1>
      <%= link_to "return timeline", timelines_path, class: "btn btn-big btn-primary btn-lg", style: "background-color: #004c7c" %>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 60px;">
  <div class="sousin text-center" style="border: 3px solid #ffffff;background-color: gray;padding: 10px 0 10px;">
    <h2>コメントをする<h2>

    <%= form_for @comment, url: comment_new_path do |f| %>

      <div class="field">
        <%= f.label "内容", class: "text-white" %>
        <%= f.text_field :content %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>
